body {
    background: #39CCCC;
}

h1 {

    margin-left: 575px;
    display: inline;

}

#mainTimer {
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 0;
}

#subTimer {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    display: none;
}

#infoButton {
    display: inline;
    height: 20px;
    width: 20px;
    margin-left: 500px;
}