body {
    background: #39CCCC;
}

h1 {
    text-align: center;
    margin-bottom: 160px;
}

#mainTimer {
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}

#subTimer {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    display: none;
}